.navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    .container {
        display: flex;
        justify-content: center;
    }
    &.stiky {
        position: fixed;
        background-color: rgba(0,0,0, .3);
    }
}
.menu {
    display: flex;
    align-items: center;
    &-mob {
        display: none; 
    }
    &__item {
        margin-right: 89px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        @extend %menu-item;
        color: $white;
        @extend %ttu;
    }
}
.logo {
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 89px;
        height: 89px;
        border-radius: 50%;
        background-color: #fff;
        margin: 0 116px;
    }
    &__text {
        @extend %extraBold;
        @extend %fz-20;
        @extend %ttu;
        color: #865656;
    }
}
.header {
    background-color: transparent;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/herobg.jpg);
    height: 541px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: -2;
    .container {
        max-width: 100%;
    }
    h1 {
        @extend %h1-title;
        color: $white;
    }
}
.text-section {
    background-color: #fff;
    padding-top: 134px;
    padding-bottom: 95px;
    h2 {
        @extend %h2-title;
        color: #333333;
    }
    p {
        @extend %p-text;
        color: #333333;
    }
    .images {
        margin-top: 100px;
        &__wrap {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__item {
            width: calc(100% / 3);
            // height: auto;
            img {
                display: block;
                width: 100%;
                height: auto;
            }
            &:nth-child(2) {
                margin: 0 50px;
            }
        }
    }
}