// ================ OpenSans-Bold ================
@include font_face(OpenSans-Bold, OpenSans-Bold);

%bold {
    font-family: 'OpenSans-Bold', sans-serif;
}
// ################ OpenSans-Bold ################

// ================ OpenSans-ExtraBold ==============
@include font_face(OpenSans-ExtraBold, OpenSans-ExtraBold);

%extraBold {
    font-family: 'OpenSans-ExtraBold', sans-serif;
}
// ################### OpenSans-ExtraBold ###################

// ================ OpenSans-Regular ==================
@include font_face(OpenSans-Regular, OpenSans-Regular);

%regular {
    font-family: 'OpenSans-Regular', sans-serif;
}
// ################### OpenSans-Regular ################


// ====================== Font sizes =======================
%fz-20 {
    font-size: rem(20);
}
%fz-17 {
    font-size: rem(17);
}
%fz-120 {
    font-size: rem(120);
}
%fz-48 {
    font-size: rem(48);
}
%fz-30 {
    font-size: rem(30);
}

%h1-title {
    @extend %extraBold;
    @extend %fz-120;
    line-height: 0.821em;
    text-align: center;
}
%menu-item {
    @extend %bold;
    @extend %fz-17;
}
%h2-title {
    @extend %extraBold;
    @extend %fz-48;
    // line-height: 2.053em;
    text-align: center;
}
%p-text {
    @extend %regular;
    @extend %fz-30;
    text-align: center;
    // line-height: 3.285em;
}
%ttu {
    text-transform: uppercase;
}