.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

// @media (min-width: 576px) {
//   .container {
//     max-width: 540px;
//   }
// }

// @media (min-width: 768px) {
//   .container {
//     max-width: 720px;
//   }
// }

@media (max-width: 767px) {
  .container {
    max-width: 320px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1430px) {
  .container {
    max-width: 1400px;
  }
}
@media (min-width: 1500px) {
  .container {
    max-width: 1600px;
  }
}