@include bp(1050px) {
    .header {
        h1 {
            font-size: rem(70);
        }
    }
}
@include bp(767px) {
    .header {
        h1 {
            margin-top: 130px;
            font-size: rem(30);
        }
        height: 292px;
    }
    .logo {
        position: absolute;
        top: 27px;
        left: 50%;
        margin-left: calc(-89px / 2);
        &__link {
            margin: 0;
        }
    }
    .navigation {
        padding-top: 40px;
        .container {
            justify-content: flex-end;
        }
        &.stiky {
            padding-bottom: 10px;
        }
    }
    .menu {
        &-mob {
            display: block;
            width: 23px;
            height: 19px;
            &__btn {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                // align-items: center;
                width: 23px;
                height: 100%;
                
                    transition: all .5s ease;

                        
                span {
                    display: block;
                    width: 23px;
                    height: 3px;
                    background-color: #fff;
                    transition: all .5s ease;
                    &:first-child {
                        position: absolute;
                        top: 0;
                        left: 0px;
                    }
                    &:last-child {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }
                }
                &.active {
                    span {
                        &:first-child {
                            top: 8px;
                            transform: rotate(45deg);
                        }
                        &:nth-child(2) {
                            height: 0;
                        }
                        &:last-child {
                            bottom: 8px;
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
        }
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: rgba(0,0,0,.5);
        display: block;
        width: 150px;
        transition: all .5s ease;
        transform: translateX(-200px);
        &.open {
            transform: translateX(0);
        }
        &_left {
            padding-top: 136px;
            height: auto !important;
        }
        &_right {
            top: 202px;
        }
        &__item {
            margin: 0;
            margin-bottom: 10px;
            text-align: center;
        }
    }
    .text-section {
        h2 {
            font-size: rem(23);
        }
        p {
            font-size: rem(18);
            margin-top: 20px;
        }
        .images {
            margin-top: 70px;
            &__wrap {
                flex-direction: column;
            }
            &__item {
                width: 100%;
                max-width: 260px;
                margin-bottom: 37px;
                &:nth-child(2) {
                    margin: 0;
                    margin-bottom: 37px;
                }
            }
        }
    }
}