doctype html
include modules/_global-variables
include block/_mixsins
html 
    include mainBlock/_head
    body
        include block/_navigation

        main
            header.header
                .container
                    h1= mainText.h1
            +section({ sectClas: 'text-section' })
                .text-wrapper
                    h2= mainText.h2
                    p= mainText.simpleText
                .images
                    ul.images__wrap
                        - for(let i = 1; i < 4; i++)
                            li.images__item
                                img(src= `${mainVar.path.img}img-${i}.jpg` alt= `image №${i}`)
        include mainBlock/_scripts