nav.navigation
    .container
        ul.menu.menu_left
            - for(let i = 0; i < mainText.menu1.length; i++) {
                li.menu__item
                    a(href= '#').menu__link= mainText.menu1[i]
            - }
        .logo
            a(href= '#').logo__link
                span.logo__text= 'logo'
        ul.menu.menu_right
            - for(let i = 0; i < mainText.menu2.length; i++) {
                li.menu__item
                    a(href= '#').menu__link= mainText.menu2[i]
            - }
        .menu-mob
            button.menu-mob__btn.mob-btn
                - for(var x = 0; x < 3; x++)
                    span
        
        