-
    const mainVar = {
        path: {
            css: 'css/',
            js: 'js/',
            img: 'img/'
        }
    };

-
    const mainText = {
        title: 'Test Job for Upwork',
        menu1: ['Home', 'About'],
        menu2: ['Service', 'Contact'],
        h1: 'I am Open Sans 120px',
        h2: 'I am open sans extra bold 48px',
        simpleText: 'Please follow all directions, make fonts the same size, respect margins and spacing.'
    }

-
    const links =  {
        menuLink: [
            'expertise.html',
            'people.html',
            'insights.html',
            'contacts.html'
        ]
    }